.u-section-1 .u-sheet-1 {
  min-height: 404px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-text-1 {
  margin: 60px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 734px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 206px 542px 0 0;
}

.u-section-3 .u-table-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-block-c5b5-83 {
  background-image: none;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5rem;
}

.u-section-3 .u-table-body-1 {
  font-size: 1.5rem;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
}

.u-section-3 .u-table-cell-9 {
  background-image: none;
}

.u-block-c5b5-102 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 598px;
    margin-right: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}