
.zoom{
zoom:0.67;
}
input[type=checkbox]{
	/* Double-sized Checkboxes */
	margin-right:20px;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

	.c11{
		left:0px;
		visibility:visible;
		border-radius:50%;
		background-size: 23px;
		width:20px;
		background-image:url('images/tick2.png');
		color:transparent;
		position:absolute; 
	}
	.c12{
		right:0px;
		visibility:visible;
		border-radius:50%;
		background-size: 23px;
		width:20px;
		background-image:url('images/tick2.png');
		color:transparent;
		position:absolute;
	}
	.c1{
		left:105px;
	}
	.c2{
		left:300px;
	}

	
	.c3{
		left:475px;
	}
	.c4{
		left:675px;
	}
	.c5{
		left:840px;
	}
	.c6{
		left:1045px;
	}
	.c7{
		left:1215px;
	}
	.c8{
		left:1415px;
	}
	.c9{
		left:1585px;
	}
	.c10{
		left:1785px;
	}
	
	
	.tick{
		visibility:hidden;
		border-radius:50%;
		background-size: 23px;
		width:20px;
		background-image:url('images/tick.png');
		color:transparent;
		position:absolute; 

	}
	
	
	label.chk{
	
		display:block;
		margin-bottom:20px;
		font-size:15px;
		
		margin-right:70px;
		
	}
	
	.dfl1{
		display:block;
		<!--margin-left:10px;-->
	}
	.dfl2{
		display:block;
		<!--margin-left:110px;-->
	}
	.dfl3{
		display:block;
		<!--margin-left:110px;-->
	}
	.dfl4{
		display:block;
	<!--	margin-left:70px;-->
	}
	.dfl5{
		display:block;
		<!--margin-left:100px;-->
	}
	.dfl6{
		display:block;
		<!--margin-left:100px;-->
	}
	.dfl7{
		display:block;
	<!--	margin-left:70px;-->
	}
	.dfl8{
		display:block;
		<!--margin-left:60px;-->
	}
	.dfl9{
		display:block;
		<!--margin-left:45px;-->
	}
	.dfl10{
		display:block;
	<!--	margin-left:40px;-->
	}

	.v1{
	margin-right:470px;
	}
	.v2{
	margin-right:460px;
	}
	
	.v3{
	margin-right:350px;
	}
	

	
	label.yr{
	display:block;
	font-weight:bold;
	font-size:20px;
	float:left;
	margin-bottom:20px;
	margin-right:70px;
	
	}
	
				.column{
	background-color:#eee;
	font-weight:bold;
}
.th{
	font-size:20px;
}
body{
	font-family:calibri;
}
table{
	border-collapse:collapse;
}
	




 
 
 
 
 
 
 
 
 
 
 
 
 
 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-list-1 {
  width: 1095px;
  margin: 39px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 518px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-1 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 30px;
}

.u-section-1 .u-icon-2 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-3 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-4 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 19px 30px;
}

.u-section-1 .u-icon-5 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-size: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-6 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-7 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-7 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-8 {
  background-size: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 19px 30px;
}

.u-section-1 .u-icon-8 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    min-height: 445px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 23px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 23px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 23px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 23px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 23px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 23px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 1363px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-2 {
  background-image: url("images/CE Program Flowchart.jpg");
  /*background-position: 100% 100%;*/
}

.u-section-2 .u-sheet-1 {
  min-height: 1434px;
  min-width:1803px;

}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 363px 218px 60px 0px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 314px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 392px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50px;
} .u-section-4 {
  background-image: url("images/CE Program Flowchart.jpg");
  /*background-position: 0% 10.78%;*/
}

.u-section-4 .u-sheet-1 {
  min-height: 824px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 361px 218px 60px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 314px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 50px;
} .u-section-6 {
  background-image: url("images/intern-activities-cityhunt.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 824px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 359px 218px 60px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 314px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 50px;
} .u-section-8 {
  
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 824px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 361px 218px 60px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 314px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 50px;
} .u-section-10 {
  background-image: url("images/2250x1500_czy-warto-korzystac-ze-szkolen-online-ollh.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 824px;
}

.u-section-10 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 361px 218px 60px 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 314px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 613px;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  width: 208px;
  margin: 31px 0 0;
}

.u-section-11 .u-list-1 {
  grid-template-rows: auto;
  margin: 30px 0 31px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(4, 33.3333%);
  min-height: 390px;
  grid-gap: 0px;
}

.u-section-11 .u-list-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px 0px;
}

.u-section-11 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-11 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-11 .u-list-item-3 {
  background-image: none;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-11 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-4 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-11 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-repeater-1 {
    min-height: 454px;
  }

  .u-section-11 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 953px;
  }

  .u-section-11 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2036px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1724px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1758px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-repeater-1 {
    min-height: 1435px;
  }

  .u-section-11 .u-image-1 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-2 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-3 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }
}