 .u-section-1 {
  min-height: 820px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 78px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 193px;
  background-image: none;
  margin: 161px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: -287px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 558px;
  grid-gap: 0px 0px;
  grid-auto-columns: 20%;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/ZiadOsman-23284.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 16px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 30px;
}

.u-section-1 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 150px;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/ali-haidar.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 16px auto 0;
}

.u-section-1 .u-icon-5 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 30px;
}

.u-section-1 .u-icon-6 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 150px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-3 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Ziad-Doughan.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-7 {
  width: 40px;
  height: 40px;
  margin: 16px auto 0;
}

.u-section-1 .u-icon-8 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 30px;
}

.u-section-1 .u-icon-9 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 150px;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-4 {
  width: 180px;
  height: 180px;
  background-image: url("images/19620240_10158863187300517_1702170317017923813_o.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-10 {
  width: 40px;
  height: 40px;
  margin: 16px auto 0;
}

.u-section-1 .u-icon-11 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 30px;
}

.u-section-1 .u-icon-12 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 150px;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-5 {
  width: 180px;
  height: 180px;
  background-image: url("images/IMG_20211219_1744462.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-13 {
  width: 40px;
  height: 40px;
  margin: 16px auto 0;
}

.u-section-1 .u-icon-14 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 30px;
}

.u-section-1 .u-icon-15 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 150px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(5, 20%);
    min-height: 460px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 38px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 4px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 1174px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 157px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1544px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 1981px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 60px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1594px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 270px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 110px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 172px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 92px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 92px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 92px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 92px;
  }
}